.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.information input {
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
}

.information button {
  width: 310px;
  height: 50px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
}

button:hover {
  cursor: pointer;
}

.produtos-botao {
  margin-bottom: 38px;
}

.update {
  width: 300px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
}

.produtos {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.jumbotron {
  width: 30%;
  height: 60%;
  float: left;
  padding: 3%;
  margin: 5%;
  padding-right: 50px;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
